.button {
  border:0px;
  color:#FFF;
  background: $green-btn;
  border-radius: 5px;
  height:33px;
  line-height:33px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  font-family: "Roboto Slab";
  text-decoration: none;
}

.button.h50 {
  height: 50px;
  line-height: 50px;
}