body {
  font-family: "Roboto Slab";
}

.h1 {
  font-size: 40px;
  border-bottom:1px solid #E8E367;
  padding-bottom:7px;
  margin-bottom:20px;
  font-weight: bold;
}

b {
  font-weight: bold;
}

.center {
  text-align: center;
}

.padding-top {
  padding-top:20px;
}


.input {
  display: block;
  border-radius: 5px;
  border:1.5px solid #000;
  height:40px;
  margin-bottom:20px;
  min-width:180px;
  padding-left: 10px;
  padding-right:10px;
}