body {
  font-family: "Roboto Slab";
}

.h1 {
  font-size: 30px;
  border-bottom:1px solid #E8E367;
  padding-bottom:7px;
  margin-bottom:20px;
  font-weight: bold;
}

b {
  font-weight: bold;
}

.center {
  text-align: center;
}

.padding-top {
  padding-top:20px;
}