//= modules/header.html
<div ng-controller="pageController">
    <header class="desktop-container">
        <div class="logo">
            <span class="str-logo">НЕКРАСОВСКИЕ БАНИ</span>
            <span class="str-slogan">место для душевного отдыха</span>
        </div>
        <div class="phone">
            <a href="tel:84957068597" class="str-phone">8 (495) 706-85-97</a>
            <span class="str-addr">Режим работы: <b>круглосуточно</b></span>
        </div>
        <div class="order">
            <a class="button" href="#order"><img src="images/svg/timetable.svg">ЗАБРОНИРОВАТЬ</a>
        </div>
    </header>
    <nav class="menu">
        <a class="" href="#banya">
            Баня
        </a>
        <a class="" href="#banya">
            Сауна
        </a>
        <a class="" href="#banya">
            Хаммам
        </a>
        <a class="" href="#banya">
            Общественная баня
        </a>
        <a class="" href="#banya">
            Меню ресторана
        </a>
        <a class="" href="#banya">
            Услуги
        </a>
        <a class="" href="#banya">
            Контакты
        </a>
    </nav>

    <article>
        <div class="page-image"></div>

        <div class="desktop-container">

            <div class="center">
                <h1 class="h1">Баня в Москве</h1>
                <p>На сайте собран лучший контент, касающийся банных заведениях этого большого города. Если вы хотите быстро найти хорошую площадку для отдыха, где можно хорошо расслабиться и отстраниться от множества дел и рабочих моментов, то сауна – это правильный выбор. На нашем портале создано все для вашего удобного поиска – вы можете найти баню по метро в Москве, конкретному району, своеобразным особенностям. Кроме того, действует удобный поиск, благодаря которому любые искания завершатся успешно и быстро – это заведение по численности, по цене аренды за один час.</p>
                <span class="h1 padding-top" id="order">Забронировать Баню в Москве</span>
            </div>

            <div class="progress">
                <div class="stage" ng-click="showChooseSauna()">
                    <img src="images/svg/pr/kadushka.svg"> Выберите баню
                </div>
                <div class="stage" ng-click="showChooseDATE()">
                    <img src="images/svg/timetable-b.svg"> Дата
                </div>
                <div class="stage">
                    <img src="images/svg/pr/massage.svg"> Услуги бани
                </div>
                <div class="stage">
                    <img src="images/svg/pr/asc.svg"> Аксессуары
                </div>
            </div>

            <div class="order-complete-form" >
                <div class="main">
                    <div class="date">{{ (order.sauna.id)?orderDate("date"):"Выберите дату" }}</div>
                    <div class="time">Время : <span ng-if="order.sauna.id">{{orderDate("starttime")}} - {{orderDate("endtime")}}</span> <span ng-if="!order.sauna.id">не указано</span></div>
                    <div class="price">
                        <div class="place">{{ order.sauna.current.name?order.sauna.current.name:"Сауна" }}</div>
                        <div class="price">{{calcPrice()?calcPrice() + " руб.":"0 руб."}}</div>
                    </div>
                    <div class="line"></div>
                    <div class="count-guest">
                        Количество человек: {{order.sauna.guest}} чел
                    </div>
                </div>

                <div class="services">
                    <div class="header">Услуги:</div>
                    <div class="service" ng-if="calcServicesPrice(service)" ng-repeat="service in services">
                        <div class="name">{{ service.name }} </div>
                        <div class="price" ng-repeat="item_service in service.services" ng-if="item_service.check">
                            <div class="s">{{ item_service.name }}</div>
                            <div class="p">{{ item_service.price }} руб.</div>
                        </div>
                    </div>

                </div>

                <div class="acs">
                    <div class="header">Банные аксессуары:</div>
                    <div class="list">
                        <div class="" ng-repeat="good in store" ng-if="good.count > 0">
                            {{good.name}} x{{good.count}}
                            <span>{{(good.price*good.count)}} руб.</span>
                        </div>
                    </div>

                    <div  ng-if="present" class="present">{{present}}</div>

                    <div class="sum">
                        <div class="sum-price">
                            Итого: <span class="price">{{orderSum()}} руб.</span>
                        </div>
                        <div class="promo" style="display:none;">
                            <input placeholder="промо код">
                        </div>
                        <button class="button" ng-click="orderProcess()">ЗАБРОНИРОВАТЬ</button>
                    </div>
                </div>
            </div>

            <div class="sauna">
                <div class="slider">
                    <slick ng-if="sliderOn" class="full-page-slide sauna-slide"
                           variable-width="true"
                           arrows="false"
                           dots="true"
                           slides-to-show="1"
                           infinite="true"
                           speed="500">
                        <div ng-repeat="image in sauna_choose.images">
                            <img src="{{ image }}">
                        </div>
                    </slick>
                </div>
                <div class="info">
                    <span class="header">Интерьеры бани</span>
                    <div class="control-str">
                        <div class="sauna-number">
                            <div class="name" ng-click="showChooseSauna()">{{ sauna_choose.name }} <img src="images/svg/arrow-right-b.svg"></div>
                            <div class="control">
                                <button ng-click="saunaMansCount(-1)">-</button>
                                <div class="num">{{ order.sauna.guest }}</div>
                                <button ng-click="saunaMansCount(1)">+</button>
                            </div>
                            <span class="text">кол. человек<br> + {{ sauna_choose.guest_overprice }} руб.** </span>
                        </div>
                        <div class="date-time" ng-click="showChooseDATE()">
                            <img src="images/svg/timetable-b.svg">
                            <div class="time">
                                <div class="d">{{ (order.sauna.id)?orderDate("date"):"Выбирите" }}</div>
                                <div class="t" ng-if="order.sauna.id">{{orderDate("starttime")}} - {{orderDate("endtime")}}</div>
                            </div>
                        </div>
                        <div class="sum">
                            <div class="price">
                                <div class="d">{{ sauna_choose.price }} руб./час</div>
                                <div class="t">мин. заказ {{ sauna_choose.min_h }} часа</div>
                            </div>
                            <button class="button" ng-click="buttonOrderSauna(sauna_choose)">ЗАКАЗАТЬ</button>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info-list">
                        <span class="header">В стоимость входит:</span>
                        <div class="list">
                            <div ng-repeat="option in sauna_choose.options">{{option}}</div>
                        </div>
                        <p class="text">Дополнительно оплачивается: 1) Караоке. 2) За каждого дополнительного гостя в номерах взимается плата в размере {{ sauna_choose.guest_overprice }} руб. с человека в час.</p>
                    </div>
                </div>
            </div>

            <div class="services-block">
                <div class="slider">
                    <slick class="full-page-slide sauna-slide"
                           variable-width="true"
                           arrows="false"
                           dots="true"
                           slides-to-show="1"
                           infinite="true"
                           speed="500">
                        <div><img src="images/slides/slide-1-1024.png"></div>
                        <div><img src="images/slides/slide-2-1024.png"></div>
                    </slick>
                </div>
                <div class="service">
                    <div class="header">Услуги бани</div>
                    <a class="green">ДОБАВИТЬ</a>

                    <div class="row">
                        <div class="col">
                            <div class="name" ng-click="viewServiceChooser(true)">{{service_current.name}} <img src="images/svg/arrow-right-b.svg"></div>
                        </div>
                        <div class="col">
                            <div class="time">время</div>
                            <div class="what"></div>
                        </div>
                        <div class="col">
                            <div  class="time">стоимость</div>
                            <div  class="what"></div>
                        </div>
                    </div>
                    <div class="line"></div>

                    <div class="row sub" ng-repeat="item_service in service_current.services">
                        <div class="col">
                            <label class="container-checkbox">
                                <input type="checkbox" ng-model="item_service.check" ng-checked="item_service.check">
                                <span class="checkmark"></span>
                            </label>
                            {{item_service.name}}
                        </div>
                        <div class="col">
                            {{item_service.time}}
                        </div>
                        <div class="col">
                            {{item_service.price}} руб.
                        </div>
                    </div>

                </div>
            </div>

            <div class="store">
                <span class="h1">Банные аксессуары</span>
                <p class="text">Какая баня без хорошего березового или елового веника</p>

                <div class="category">
                    <div class="btn {{storeFilterValue.category==='men'?'active':'' }}" ng-click="storeFilter('men')">Для Мужчин</div>
                    <div class="btn {{storeFilterValue.category==='women'?'active':'' }}" ng-click="storeFilter('women')">Для Женщин</div>
                </div>

                <div class="slider">
                    <slick ng-if="sliderOnStore" class="variable-width"
                           variable-width="true"
                           arrows="false"
                           dots="false"
                           slides-to-Show="3"
                           infinite="true"
                           speed="500">


                        <div class="good" ng-repeat="good in store | filter:storeFilterValue">
                            <div class="good-wrap">
                                <img class="good-image" src="{{good.image}}">

                                <div class="good-name">
                                    {{good.name}}
                                </div>

                                <div class="good-price">
                                    {{good.price}} руб.
                                </div>

                                <div class="">
                                    <div class="order">
                                        <div class="control">
                                            <div class="buttons">
                                                <div class="btn decrement {{!good.count?'disabled':''}}" ng-click="goodCount(good, -1)">-</div>
                                                <div class="result">{{good.count}}</div>
                                                <div class="btn  increment" ng-click="goodCount(good, 1)">+</div>
                                            </div>
                                        </div>
                                        <a class="order-btn button" ng-click="orderStore()">ЗАКАЗАТЬ</a>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </slick>
                </div>

            </div>

            <div class="seo">
                На сайте собран лучший контент, касающийся банных заведениях этого большого города. Если вы хотите быстро найти хорошую площадку для отдыха, где можно хорошо расслабиться и отстраниться от множества дел и рабочих моментов, то сауна – это правильный выбор. На нашем портале создано все для вашего удобного поиска – вы можете найти баню по метро в Москве, конкретному району, своеобразным особенностям. Кроме того, действует удобный поиск, благодаря которому любые искания завершатся успешно и быстро – это заведение по численности, по цене аренды за один час.
                На сайте Бани.РФ собран лучший контент, касающийся банных заведениях этого большого города. Если вы хотите быстро найти хорошую площадку для отдыха, где можно хорошо расслабиться и отстраниться от множества дел и рабочих моментов, то сауна – это правильный выбор. На нашем портале создано все для вашего удобного поиска – вы можете найти баню по метро в Москве, конкретному району, своеобразным особенностям. Кроме того, действует удобный поиск, благодаря которому любые искания завершатся успешно и быстро – это заведение по численности, по цене аренды за один час.
            </div>
        </div>


        <div class="page-image-manu"></div>


        <div class="desktop-container">
            <div class="menu-block">
                <span class="h1">Меню ресторана</span>
                <p>На сайте Бани.РФ собран лучший контент, касающийся банных заведениях этого большого города. Если вы хотите быстро найти хорошую площадку для отдыха, где можно хорошо расслабиться и отстраниться от множества дел и рабочих моментов, то сауна – это правильный выбор. На нашем портале создано все для вашего удобного поиска – вы можете найти баню по метро в Москве, конкретному району, своеобразным особенностям. Кроме того, действует удобный поиск, благодаря которому любые искания завершатся успешно и быстро – это заведение по численности, по цене аренды за один час.</p>

                <div class="menu-wrap">

                    <div class="menu-list">
                        <div class="menu-item">
                            <div ng-repeat="cat in menu">
                                <div class="header">{{cat.name}}</div>
                                <div class="row" ng-repeat="item in cat.items">
                                    <span class="measure">{{item.weigth}}</span>
                                    <span class="name"><span>{{item.name}}</span></span>
                                    <span class="price">{{item.price}} руб.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact">
                <span class="h1">Как добратся</span>

                <div class="step">
                    <b>от м.Выхино:</b> - автобус № 722  (ост. 1-я Вольская,17)
                    - маршрутное такси № 722<br> (ост. 1-я Вольская, 17)
                </div>

                <div class="step">
                    <b>от м.Братиславская:</b> маршрутное такси № 942<br>
                    (ост. 1-я Вольская,17)
                </div>

                <div class="step">
                    <b>Новокосино:</b> автобус № 723<br> (ост. 1-я Вольская,17)
                </div>

                <div class="step">
                    <b>Кожухово:</b> автобус № 726 (ост. 1-я Вольская,17)
                </div>

                <div class="step">
                    <b>От ж/д ст. Люберцы:</b> маршрутное такси № 9; № 14
                </div>

                <div class="step">
                    <b>"Новая Некрасовка"</b> (от 4-й мик.р-он Кожухово) автобус № 849 (ост. Управа р-на Некрасовка)
                </div>

                <img src="images/map-1024.png">

                <div class="contacts">
                    <div class="h1">Контакты</div>
                    <address>
                        г. Москва, р-н Некрасовка, 1-я Вольская ул., дом. 26
                    </address>
                    <a class="phone">
                        +7 (495) 706-85-97
                    </a>
                    <div class="work-time">
                        Режим работы: <b>круглосуточно</b>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal {{ leadForm?'active':'closed' }}">
            <div class="content">
                <div class="select-list-sauna lead-form-modal">
                    <div class="header">Забронировать баню</div>
                    <div class="close" ng-click="closeLeadForm()">
                        <img src="images/svg/close.svg">
                    </div>
                    <div class="lead-form">
                        <input class="input" type="text" ng-model="order.client.name" placeholder="Имя">
                        <input class="input" type="text" ng-model="order.client.phone" placeholder="Телефон">
                        <div ng-if="errorLeadeFormMsg" class="msg-error">{{errorLeadeFormMsg}}</div>
                        <a ng-click="sendLeadForm()"  class="button h50">Забронировать</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal {{ leadFormOK?'active':'closed' }}">
            <div class="content">
                <div class="select-list-sauna lead-form-ok">
                    <div class="header">Спасибо</div>
                    <div class="close" ng-click="closeLeadForm()">
                        <img src="images/svg/close.svg">
                    </div>
                    <div class="text">
                        С вами свяжется менеджер для подтверждения брони.
                        Ожидайте звонка.
                    </div>
                    <div class="social">
                        Присоединяйтесь к нам в социальных сетях<br><br>
                        <img src="images/social.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal {{ leadFormError?'active':'closed' }}">
            <div class="content">
                <div class="select-list-sauna lead-form-ok">
                    <div class="header">Возникла ошибка</div>
                    <div class="close" ng-click="closeleadFormError()">
                        <img src="images/svg/close.svg">
                    </div>
                    <div class="text">
                        {{leadFormErrorMsg}}
                    </div>

                </div>
            </div>
        </div>



        <div class="modal {{ booleanChooseSauna?'active':'closed' }}">
            <div class="content">
                <div class="select-list-sauna">
                    <div class="header">Выберите баню</div>
                    <div class="close" ng-click="closeChooseSauna()">
                        <img src="images/svg/close.svg">
                    </div>

                    <div class="option {{sauna.choose?'active':'gray'}}" ng-repeat="sauna in sauna_list" ng-click="chooseSauna(sauna)">
                        <div class="name">
                            {{sauna.name}} <span class="vip">VIP</span>
                        </div>
                        <div class="name">
                            {{ currency(sauna.price) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal {{ booleanChooseDATE?'active':'closed' }}" >
            <div class="content">
                <datatime sauna-id="sauna.choose.id"
                          pick-date-controller="pickdate"
                          close-date-modal="closemodal"
                          min-order-hours="sauna_choose.min_h"
                          get-hour-by-current-day-sauna="getOrderTimeOfDateSauna">
                </datatime>
            </div>
        </div>



        <div class="modal {{ booleanChooseService?'active':'closed' }}">
            <div class="content">
                <div class="select-list-sauna">
                    <div class="header">Услуги</div>
                    <div class="close" ng-click="viewServiceChooser(false)">
                        <img src="images/svg/close.svg">
                    </div>

                    <div class="option {{service.current?'active':'gray'}}" ng-repeat="service in services" ng-click="chooseService(service)">
                        <div class="name">
                            {{service.name}}
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </article>

    <footer>
        <div class="wrap">
            <div class="col">
                <div class="logo">
                    <span class="str-logo">НЕКРАСОВСКИЕ БАНИ</span>
                    <span class="str-slogan">место для душевного отдыха</span>
                </div>

                <div class="phons">
                    <a class="phone">
                        +7 (495) 706-85-97
                    </a>
                    <div class="work-time">
                        Режим работы: <b>круглосуточно</b>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="c">
                        <a>Баня</a>
                        <a>Сауна</a>
                        <a>Хаммам</a>
                    </div>
                    <div class="c">
                        <a>Караоке</a>
                        <a>Меню ресторана</a>
                        <a>Услуги</a>
                    </div>
                </div>
                <a class="email" href="mailto:info@banynekrasovka.ru">info@banynekrasovka.ru</a>
            </div>
            <div class="col">
                <p class="follow">Присоединяйтесь к нам в социальных сетях</p>
                <img src="images/social.png">
            </div>
        </div>
    </footer>
</div>
//= modules/footer.html